<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>WATCH SHOP</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>
    
    <header>
        <div class="container">
            <div class="text-first">
                <div class="titulosydescrpcion">
                    <h1>LO MEJOR EN TU MANO</h1>
                    <h2>Welcome <%= name%></h2>

                    <p>Adquiere hoy tu reloj super, <br> y paraliza el mundo.</p>
                </div>

            </div>

            <div class="navbar_menu">
                <ul class="lista-menu">
                    <li>Inicio</li>
                    <li>Precios</li>
                    <li>Tiendas</li>
                </ul>
            </div>
        </div>


        <div class="background-watch">
            <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.3/build/spline-viewer.js"></script>
            <spline-viewer url="https://prod.spline.design/WWZSJxmlQLUxTlns/scene.splinecode"></spline-viewer>
        </div>
    </header>

    <main>
        <section class="seccion2">
           
            <div class="content-section">
                <div class="details">
                    <p>Elegancia y precisión en tu muñeca. ¡Descubre nuestro reloj exclusivo hoy! </p>
                    <p>Reloj de diseño moderno y duradero. Perfecto para cualquier ocasión.</p>
                    <p>Estilo y funcionalidad unidos en un reloj. ¡Luce siempre a la moda!</p>
                </div>
            </div>    
        </section>
    </main>

  <footer>
   ALEX MARIN | i am designer web junior :")
    </footer>
<script src="/javascripts/script.js"></script>
</body>
</html>